.header-container {
    display: flex;
}

.header-img{
    max-width: 300px;
}

@media screen and (max-width: 500px) {
    .header-content {
        span {
            font-size: 2.5rem;
        }
    }
}

@media screen and (max-width: 350px) {
    .header-content {
        span {
            font-size: 2rem;
        }
    }
}