.section {
    padding: 1em;
}

.row {
    display: flex; 
    flex-flow: row wrap; 
}

.col { 
    display: flex; 
    flex: 1;
    flex-flow: column; 
    align-items: center;
}

.card {
    display: flex;
    color: #000000;
    padding: 0 1em;
    flex: 1;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
}


.footer {
   display: flex;
   align-items: center;
   justify-content: center;

   img {
       max-width: 50%;
       margin: 2em;
       background-color: #000000;
   }
}

@media screen and ( max-width: 850px ) {
    .card {
        padding: 1em;
    }

    .row {
        flex-direction: column;
    }
}