.project-card-container {
    border-radius: 4px;
    border-color: $primary-black;
    border-style: solid;
    border-width: 3px;
    width: 90%;
    font-family: 'glitch';
    color: $primary-black;
    margin-bottom: 1em;

    &:hover {
        cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
    }

    .project-title {
        display: block;
        background-color: $primary-white;
        border-color: $primary-black;
        border-style: solid;
        border-width: 0 0 3px 0;
        font-weight: 1000;
        font-size: 1.3rem;
        padding-left: 0.5em;
    }
    
    .project-card-flex {
        display: flex;
        flex-direction: column;
        padding: 3%;
        margin: 3%;
        border-color: $primary-black;
        border-style: solid;
        border-width: 2px;
        background-color: $primary-white;
        

        .card-footer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .item-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .footer-item {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-right: 1em;
                    
                    span {
                        padding-left: 2px;
                    }
    
                    img {
                        max-width: 16px;
                        max-height: 16px;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 850px) {
    
     .card-footer {
         flex-direction: column !important;
         align-items: center; 
     }
}