// Constants for the body
$bg-color: #939393;
$dot-color: #1a1a1a;
$dot-size: 1px;
$dot-space: 8px;

//color theme constants
$primary-black: #212529;
$primary-white: #fff;
$primary-green: #92CC41;
$primary-blue: #4e89ae;
$primary-red: #FA1616;
$primary-orange: #F96D15;
$primary-yellow: #F7D51D;